.home{
	display: flex;
	background: url('https://th.bing.com/th/id/R.88573fc3bacf77108792f0444f811dff?rik=0iPctQYsWregWw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fXEq6o0E.jpg&ehk=U9C6TkGDNqpyrMKPtfrlnfE04vI1GWqulIwIY5NAr%2bE%3d&risl=&pid=ImgRaw&r=0');
	background-size: cover;
}